@model WebApp.Domain.Caesar

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Caesar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" asp-for="AppUserId" value="@Guid.Empty"/>
            <input type="hidden" asp-for="Ciphertext" value="@Guid.Empty"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShiftAmount" class="control-label"></label>
                <input asp-for="ShiftAmount" class="form-control"/>
                <span asp-validation-for="ShiftAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plaintext" class="control-label"></label>
                <input asp-for="Plaintext" class="form-control"/>
                <span asp-validation-for="Plaintext" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}