@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your cryptographic database!</h1>
    <p>Choose between three encryption algorithms and encrypt your favourite plaintexts!</p>
</div>