@model WebApp.Domain.RSA

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RSA</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="AppUserId" value="@Guid.Empty"/>
            <input type="hidden" asp-for="EncryptedBytes" value="@Guid.Empty"/>
            <input type="hidden" asp-for="PlaintextBytes" value="@Guid.Empty"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Plaintext" class="control-label"></label>
                <input asp-for="Plaintext" class="form-control" />
                <span asp-validation-for="Plaintext" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimeP" class="control-label"></label>
                <input asp-for="PrimeP" class="form-control" />
                <span asp-validation-for="PrimeP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimeQ" class="control-label"></label>
                <input asp-for="PrimeQ" class="form-control" />
                <span asp-validation-for="PrimeQ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EncryptedBytes" class="control-label"></label>
                <input asp-for="EncryptedBytes" class="form-control" />
                <span asp-validation-for="EncryptedBytes" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
