@model WebApp.Domain.DiffieHellman

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DiffieHellman</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppUserId" value="@Guid.Empty"/>
            <input type="hidden" asp-for="ComputedKeyX" value="@Guid.Empty"/>
            <input type="hidden" asp-for="ComputedKeyY" value="@Guid.Empty"/>
            <div class="form-group">
                <label asp-for="PublicKeyP" class="control-label"></label>
                <input asp-for="PublicKeyP" class="form-control" />
                <span asp-validation-for="PublicKeyP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicKeyG" class="control-label"></label>
                <input asp-for="PublicKeyG" class="form-control" />
                <span asp-validation-for="PublicKeyG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrivateKeyA" class="control-label"></label>
                <input asp-for="PrivateKeyA" class="form-control" />
                <span asp-validation-for="PrivateKeyA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrivateKeyB" class="control-label"></label>
                <input asp-for="PrivateKeyB" class="form-control" />
                <span asp-validation-for="PrivateKeyB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
